<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <!-- app:css -->
    <!-- endinject -->
</head>
<body>
<div class="wrap">
    <div class="container">
        <h1 class="text-center">ToDo List</h1>

        <div class="row">
            <div id="list" class="col-md-6 col-md-offset-3"></div>
        </div>
    </div>
</div>

<!-- app:js -->
<!-- endinject -->
</body>
</html>